{
 "presets": [
  "@babel/preset-react",
  "@babel/preset-typescript"
 ],
 "plugins": [
  [
   "@babel/plugin-proposal-decorators",
   {
    "decoratorsBeforeExport": true
   }
  ],
  "@babel/plugin-proposal-class-properties",
  "@babel/plugin-transform-runtime",
  "@babel/plugin-transform-react-jsx",
  "react-hot-loader/babel"
 ]
}
